 * {
    margin: 0;
    padding: 0;
    
}


.main-container{
    margin-top: 80px;
    position: relative;
    padding: 10px;
}

.bg-image { 
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.bg-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.4;
  background-image: url("/public/images/eaters-collective-12eHC6FxPyg-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: fixed;
}

.nav {
    /* flex box layout */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    background-color: #dc1717;
    z-index: 100000;
  }
  
  .nav a {
    text-decoration: none;
  }
  
  /* .nav-title {
    font-size: 24px;
    font-weight: 700;
    color: #f2f2f2;
    padding-left: 10px;
    margin: 0;
  } */
  
  .nav-title {
    position: relative;
    font-weight: 200;
    color: #f2f2f2;
    font-size: 2em;
    /* text-transform: uppercase; */
    letter-spacing: 2px;
    transition: 0.6s;
  }
  
  .navLink {
    display: inline-block;
    color: #f2f2f2;
    background-color: #dc1717;
    text-align: center;
    padding: 24px 10px;
    text-decoration: none;
    font-size: 15px;
    transition: 0.6s;
  
    /* these last two make the logout button in
    the nav bar look like another link */
    border: none;
    cursor: pointer;
    outline: 0;
  }
  
  .navLink:hover {
    background-color: #001010;
  }

  table {
    table-layout: fixed;
    width: 750px;
  }
  
  th,
  td {
    width: 300px;
    overflow: hidden;
  }